DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres

JWT_SECRET=gera-uma-string-aleatoria-longa-aqui

RESEND_API_KEY=re_xxxxxxxxxxxxxxxx
RESEND_FROM_DOMAIN=caetano.link
