DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres

JWT_SECRET=gera-uma-string-aleatoria-longa-aqui

# SMTP (envio de emails — Amazon SES, Mailgun, Sendgrid, etc.)
SMTP_HOST=email-smtp.eu-west-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_DOMAIN=caetano.pt
SMTP_RATE=14

# URL pública da app (para links de cancelamento de subscrição)
APP_URL=https://email-marketing-eta.vercel.app
